* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
        "ELSH" 0;
}

nav {
    display: flex;
    justify-content: space-between;
    gap: 23px;
    width: 100%;
    height: 4rem;
    background-color: white;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid;

    /* brand logo/name */
    .brand {
        display: flex;
        height: 2rem;
        gap: 5px;
        align-items: center;

        img {
            border-radius: 50px;
        }

        h3 {
            font-weight: 900;
            font-size: 22px;
            color: darkblue;
        }
    }

    .menu_btn {
        visibility: hidden;
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        padding-inline: 12px;

        .close_btn {
            display: none;
        }

        /* search bar */
        form {
            display: flex;
            gap: 5px;

            input {
                padding: 5px;
                padding-inline: 12px;
                border: darkgrey 2px ridge;
            }

            botton {
                padding: 2px;
                border-radius: 50px;
                padding-inline: 7px;
                cursor: pointer;

            }
        }


        /*nav ul*/
        ul {
            display: flex;
            list-style: none;
            gap: 15px;

            /*nav ul li*/
            li a {
                text-decoration: none;
                color: black;
            }
        }

        /* nav_btn */
        .nav_btn {
            button {
                padding: 7px;
                border-radius: 30px;
                cursor: pointer;
                color: black;
            }
        }
    }
}

nav .nav_btn button:hover {
    background: rgb(233, 233, 51);
    color: white;
    transform: rotate();
}

nav ul li:hover {
    transform: scale(1.2);

}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

    h1{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 50px;
        text-align: center;
        background-color: rgb(55, 123, 250);
    }
    p.read{
        font-size: 30px;
        background-color: cornflowerblue;
    }
    p.more{
        font-size: 20px;
        background-color: cornflowerblue;
    }
}


.Home{
    display: flex;
    padding: 40px;
    background-color: cyan;
   

    .left{
        h3{
            padding-top:70px;
            font-size: 35px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: rgb(7, 17, 77);
            font-weight: 900;
            font-style: italic;
        }

        p{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 100;
            color: black;
        }

        button{
           width: 100px;
           height: 40px;
           background-color: yellow;
           cursor: pointer; 
        }
    }

    img{
        width: 90%;
        height: 500px;
    }
}

.overlayer{
    padding: 20px;
    /* background-image: url(./image/SchoolGarden.jpg); */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 90vh;
     article{
        flex-direction: column;
        display: flex;
     }

    h3{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 30px;
        font-style: italic;
    }
    p{
        font-style: normal;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: white;

    }
}

.know-more{
    padding: 20px;
    background-image: url(./image/playing\ ground.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 90vh;
    
    h2{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 30px;
        color: rgb(1, 4, 216);
    }
    p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
        color: rgb(1, 4, 16);
    }
}
@media screen and (max-width: 480px) {
    nav {
        .brand {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .menu_btn {
            visibility: visible;
            padding: 2px;
            font-size: 30px;
            border: 2px ridge;
            border-radius: 10%;
            cursor: pointer;
        }

        .menu {
            display: none;
            transition: all 700ms linear ease-out;
            flex-direction: column;
            position: absolute;
            top: 20px;
            right: 0;
            z-index: 30;
            background-color: #e5e7eb;
            height: fit-content;
            justify-content: start;
            padding: 20px;
            align-items: start;

            .close_btn {
                display: block;
                position: absolute;
                top: 10px;
                left: 0px;
                padding: 0px;
                font-size: 18px;
                border: 2px ridge;
                border-radius: 5%;
                cursor: pointer;
                width: 20px;
                top: 0;
                color: white;
                background-color: #524343;
            }

            .close_btn:hover {
                background-color: #ff0000;
                transition: 0.3s;
            }

            ul {
                flex-direction: column;

                li {
                    width: 100%;
                    padding: 3px;
                }
            }


        }
    }
    .Home{
        img{
            width: 50px;
            height: 100px;
        }
    }
}    