* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
        "ELSH" 0;
}

nav {
    display: flex;
    justify-content: space-between;
    gap: 23px;
    width: 100%;
    height: 4rem;
    background-color: white;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid;

    /* brand logo/name */
    .brand {
        display: flex;
        height: 2rem;
        gap: 5px;
        align-items: center;

        img {
            border-radius: 50px;
        }

        h3 {
            font-weight: 900;
            font-size: 22px;
            color: darkblue;
        }
    }

    .menu_btn {
        visibility: hidden;
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        padding-inline: 12px;

        .close_btn {
            display: none;
        }

        /* search bar */
        form {
            display: flex;
            gap: 5px;

            input {
                padding: 5px;
                padding-inline: 12px;
                border: darkgrey 2px ridge;
            }

            botton {
                padding: 2px;
                border-radius: 50px;
                padding-inline: 7px;
                cursor: pointer;

            }
        }


        /*nav ul*/
        ul {
            display: flex;
            list-style: none;
            gap: 15px;

            /*nav ul li*/
            li a {
                text-decoration: none;
                color: black;
            }
        }

        /* nav_btn */
        .nav_btn {
            button {
                padding: 7px;
                border-radius: 30px;
                cursor: pointer;
                color: black;
            }
        }
    }
}

nav .nav_btn button:hover {
    background: rgb(233, 233, 51);
    color: white;
    transform: rotate();
}

nav ul li:hover {
    transform: scale(1.2);

}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    h1{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 35px;
    }
    p{
        font-size: 20px;
        color: black;
        padding: 10px;
    }
    p.read{
        color: rgb(151, 20, 20);
        font-family: Arial, Helvetica, sans-serif;
    }
}
 
/* .div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
    background-color: rgb(160, 37, 37);
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid;

    image{
        border-radius: 50px;

}     */
/* News-container */
.News-container {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 40px;
    gap: 20px;
    background-color: white;

    .box{
        box-shadow: 0 5px 5px 5px rgb(228, 161, 161);
        height:200px;
        width: 500px;
        cursor: pointer;
        border-radius: 10px;
        padding: 20px;

        h3{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: rgb(46, 11, 11);
            font-style: normal;
            font-weight: 900;
            font-size: 30px;
        }

        p{
            font-size: 20px;
        }
    }

    .card{
        padding: 50px;
        border-right: 0.5px solid white;
        border-radius: 20px;
        background-color: rgb(255, 0, 234);
        display: flex;

        .article{
            display: flex;
            flex-direction: column;
            gap: 12px;
        }
    }

    .box:hover {
    transform: translateY(-10px);
    box-shadow: 15px 15px 35px #ff7d32,-15px -15px 35px #ff2bbf;
    }
}

/* News */
.News{
    padding: 5px;
    h2{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 30px;
        font-style: italic;
        padding: 1px;
        text-align: center;
        color: blue;
    }
    p{
        font-size: 20px;
        color: rgb(0, 0, 0);
    }
}

/* --- 5. Team Component --- */
.team-member{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.team-member img { width: 20%; height: 250px; object-fit: cover; border-radius: 4px; padding: 10px; }
.team-member h3 { margin-top: 15px; color: var(--primary); font-size: 1.2rem; }
.team-member p { color: var(--accent); font-size: 0.9rem; }


/* .team-member {
    img{
        width: 20%;
        height: 20%;
        object-fit: cover;
        border-radius: 4px;
    }
}
  */